.profile {
  width: 201px;
  background: #cfd2d7;
  mix-blend-mode: normal;

  .avatar {
    height: 200px;
    width: 200px;
  }

  .profile-list {
    display: flex;
    height: 20px;
    margin: 14px 0 0 20px;
    h6 {
      font-size: 16px;
      margin: 0;
    }
    img {
      margin-left: 5.5px;
      margin-top: 5px;
    }
  }

  .proff {
    margin: 3.5px 0 0 20px;
    color: #5f6164;
    font-size: 12px;
  }

  .social-networks {
    margin-left: 20px;
    margin-top: 20px;
    display: flex;

    a:first-child {
      height: 21px;
      width: 22px;
      background: white;
      border-radius: 50%;
      background-repeat: no-repeat;
    }

    .circle {
      margin-left: 6.5px;
      height: 21px;
      width: 22px;
      background: white;
      border-radius: 50%;
      background-repeat: no-repeat;
    }

    .facebook {
      margin-left: 8px;
    }

    .twitter {
      margin-left: 4px;
      margin-bottom: 1px;
    }

    .instagram {
      margin-left: 5px;
    }

    .link {
      margin-left: 6px;
      margin-bottom: 1px;
    }
  }

  .profile-button {
    margin-left: 20px;
    display: flex;
    margin-top: 18.5px;

    button:first-child {
      height: 25px;
      width: 133px;
      color: white;
      background: #3577ef;
      border: none;
      outline: none;
      border-radius: 7px;
    }

    button {
      background: #3577ef;
      height: 25px;
      width: 25px;
      margin-left: 4px;
      border-radius: 7px;
      border: none;
      outline: none;
    }
  }

  .arrow {
    margin-bottom: 2px;
  }

  .profil-info {
    margin-left: 20px;
    p {
      margin-top: 10px;
      font-size: 10px;
      color: #5f6164;
      margin-bottom: 0;
      padding: 0;
    }
    h6 {
      margin-top: 3px;
      font-size: 14px;
      color: black;
      margin-bottom: 0;
      padding: 0;
    }
  }

  .profile-arrow {
    margin-top: 230px;
    margin-left: 160px;
    button {
      height: 18px;
      width: 10px;
      background: #cfd2d7;
      border: none;
      outline: none;
    }
    img {
      margin-right: 10px;
    }
  }
}
