.Navbar {
  margin-top: 31.5px;
  display: flex;
  height: 49.5px;
  border-bottom: 0.5px solid gray;
  align-items: center;
  justify-content: space-between;
  .Navbar-left {
    display: flex;
    align-items: center;
    height: 49.5px;
    h4 {
      font-size: 20px;
      margin-bottom: 20px;
      margin-top: 0;
      margin-left: 24.83px;
      color: black;
    }
    img {
      width: 16px;
      height: 16px;
      opacity: 0.4;
      margin-bottom: 20px;
      margin-left: 5.81px;
    }
  }

  .Navbar-right {
    display: flex;
    width: 428px;
    height: 49.5px;
    .Navbar-right-input {
      width: 254px;
      height: 33px;
      border: 0.5px solid rgba(0, 0, 0, 0.24);
      box-sizing: border-box;
      border-radius: 5px;
      background-image: url(../../Picters/lupa.svg);
      background-repeat: no-repeat;
      background-position-y: 8px;
      background-position-x: 220px;
      outline: none;
      margin-left: 25px;
      font-size: 14;
      padding-left: 17px;
    }

    .Lupa {
      position: absolute;
      left: 1330px;
      top: 50px;
    }

    .Kol {
      height: 15px;
      width: 15px;
      margin-left: 24px;
      margin-top: 8.8px;
    }

    .Icon {
      height: 16.5px;
      margin-left: 21px;
      margin-top: 8px;
    }

    .Shape {
      height: 5.5px;
      width: 5.5px;
      margin-top: 8px;
    }

    .People {
      height: 15px;
      width: 11px;
      margin-top: 9px;
    }

    .Number {
      font-size: 14;
      margin-bottom: 0;
      margin-top: 10px;
      margin-left: 6.5px;
      height: 17px;
      color: #a4a4a4;
    }
  }
}
